In [ ]:
! pip install pyspark

In [ ]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("Tables").getOrCreate()

In [ ]:
truncate_table_datasource_parquet = """
TRUNCATE TABLE student_parquet
"""

spark.sql(truncate_table_datasource_parquet)

In [ ]:
Drop_table_datasource_parquet= """
DROP TABLE IF EXISTS student_parquet
"""
spark.sql(Drop_table_datasource_parquet)

#-----------------------------------------------------------------

In [ ]:

truncate_table_datasource_like = """
TRUNCATE TABLE student_like
"""
spark.sql(truncate_table_datasource_like)

In [ ]:
Drop_table_datasource_like = """
DROP TABLE IF EXISTS student_like
"""
spark.sql(Drop_table_datasource_like)

#-----------------------------------------------------------------

In [ ]:
truncate_table_datasource_csv = """
TRUNCATE TABLE student
"""
spark.sql(truncate_table_datasource_csv)

In [ ]:
Drop_table_datasource_csv = """
DROP TABLE IF EXISTS student
"""
spark.sql(Drop_table_datasource_csv)


#-----------------------------------------------------------------

In [ ]:
create_table_datasource_csv = """
CREATE TABLE IF NOT EXISTS student
(id INT,name STRING,age INT)
USING CSV
PARTITIONED BY (name)
CLUSTERED BY (age)
SORTED BY (id ASC) INTO 2 BUCKETS
;
"""

spark.sql(create_table_datasource_csv)

#-----------------------------------------------------------------

In [ ]:
create_table_datasource_parquet = """
CREATE TABLE IF NOT EXISTS student_parquet
USING parquet
AS SELECT * FROM student
;
"""

spark.sql(create_table_datasource_parquet)

#-----------------------------------------------------------------

In [ ]:
create_table_like = """
CREATE TABLE IF NOT EXISTS student_like LIKE student_parquet
;
"""
spark.sql(create_table_like)

In [ ]:
show_table = """
DESCRIBE TABLE student_like
;
"""
spark.sql(show_table).show()

In [ ]:
import random

name_list = ["s1","s2","s3"]

for i in range(1,3):
  val=random.choice(name_list)
  insert_table_datasource_csv = f"""
  INSERT INTO student values ({i},{i*10},'{str(val)}')
  """
  spark.sql(insert_table_datasource_csv)

In [ ]:
for i in range(1,3):
  val=random.choice(name_list)
  insert_table_datasource_csv = f"""
  INSERT INTO student_parquet values ({i},{i*10},'{str(val)}')
  """
  spark.sql(insert_table_datasource_csv)

In [ ]:

for i in range(1,3):
  val=random.choice(name_list)
  insert_table_datasource_csv = f"""
  INSERT INTO student_like values ({i},{i*10},'{str(val)}')
  """
  spark.sql(insert_table_datasource_csv)