In [1]:
import pyarrow as pa
import pandas as pd
import pyarrow.parquet as pq

In [2]:
input_file_path = r'/content/sample_data/california_housing_test.csv'
out_file_path = r'/content/sample_data/california_housing_pq.parquet'

dataframe_csv = pd.read_csv(input_file_path)
pyarrow_table = pa.Table.from_pandas(dataframe_csv)

dataframe_csv = pd.read_csv(input_file_path)
pq.write_table(pyarrow_table,out_file_path)

In [3]:
pyarrow_table

pyarrow.Table
longitude: double
latitude: double
housing_median_age: double
total_rooms: double
total_bedrooms: double
population: double
households: double
median_income: double
median_house_value: double
----
longitude: [[-122.05,-118.3,-117.81,-118.36,-119.67,...,-119.86,-118.14,-119.7,-117.12,-119.63]]
latitude: [[37.37,34.26,33.78,33.82,36.33,...,34.42,34.06,36.3,34.1,34.42]]
housing_median_age: [[27,43,27,28,19,...,23,27,10,40,42]]
total_rooms: [[3885,1510,3589,67,1241,...,1450,5257,956,96,1765]]
total_bedrooms: [[661,310,507,15,244,...,642,1082,201,14,263]]
population: [[1537,809,1484,49,850,...,1258,3496,693,46,753]]
households: [[606,277,495,11,237,...,607,1036,220,14,260]]
median_income: [[6.6085,3.599,5.7934,6.1359,2.9375,...,1.179,3.3906,2.2895,3.2708,8.5608]]
median_house_value: [[344700,176500,270500,330000,81700,...,225000,237200,62000,162500,500001]]