In [1]:
! pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.0.tar.gz (316.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 316.9/316.9 MB 2.8 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.0-py2.py3-none-any.whl size=317425345 sha256=709dac88c700bfa6dc45016b0c070865a2e89d55b7fb254b0e1ae683f61af6ac
  Stored in directory: /root/.cache/pip/wheels/41/4e/10/c2cf2467f71c678cfc8a6b9ac9241e5e44a01940da8fbb17fc
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.0

In [2]:
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder.appName("Inserts").getOrCreate()

In [4]:
create_table = '''
CREATE TABLE students (name VARCHAR(64), address VARCHAR(64))
    USING PARQUET PARTITIONED BY (student_id INT);
'''

In [5]:
spark.sql(create_table)

DataFrame[]

In [6]:
insert_table = '''
INSERT INTO students VALUES
    ('Amy Smith', '123 Park Ave, San Jose', 111111);
'''

In [7]:
spark.sql(insert_table)

DataFrame[]

In [9]:
insert_table_multirows = '''
INSERT INTO students VALUES
    ('Bob Brown', '456 Taylor St, Cupertino', 222222),
    ('Cathy Johnson', '789 Race Ave, Palo Alto', 333333);

'''

In [10]:
spark.sql(insert_table_multirows)

DataFrame[]

In [11]:
select_sql = '''
SELECT * FROM students
'''

In [12]:
spark.sql(select_sql).show()

+-------------+--------------------+----------+
|         name|             address|student_id|
+-------------+--------------------+----------+
|Cathy Johnson|789 Race Ave, Pal...|    333333|
|    Bob Brown|456 Taylor St, Cu...|    222222|
|    Amy Smith|123 Park Ave, San...|    111111|
+-------------+--------------------+----------+

In [20]:
create_table = '''
CREATE TABLE students_temp (name VARCHAR(64), address VARCHAR(64))
    USING PARQUET PARTITIONED BY (student_id INT);
'''

spark.sql(create_table)

DataFrame[]

In [26]:
insert_table_multirows = '''
INSERT INTO students_temp VALUES
    ('aob Brown', '156 Taylor St, Cupertino', 1422222),
    ('bathy Johnson', '289 Race Ave, Palo Alto', 233333),
     ('cob Brown', '356 Taylor St, Cupertino', 3422222),
    ('dathy Johnson', '489 Race Ave, Palo Alto', 433333),
     ('eob Brown', '556 Taylor St, Cupertino', 5422222),
    ('fathy Johnson', '689 Race Ave, Palo Alto', 633333);

'''

spark.sql(insert_table_multirows)

DataFrame[]

In [22]:
select_student = '''
select * from students
'''
select_student_temp ='''
select * from students_temp
'''

In [23]:
spark.sql(select_student).show()

+-------------+--------------------+----------+
|         name|             address|student_id|
+-------------+--------------------+----------+
|Cathy Johnson|789 Race Ave, Pal...|    333333|
|    Bob Brown|456 Taylor St, Cu...|    222222|
|    Amy Smith|123 Park Ave, San...|    111111|
+-------------+--------------------+----------+

In [24]:
spark.sql(select_student_temp).show()

+-------------+--------------------+----------+
|         name|             address|student_id|
+-------------+--------------------+----------+
|dathy Johnson|489 Race Ave, Pal...|    433333|
|fathy Johnson|689 Race Ave, Pal...|    633333|
|bathy Johnson|289 Race Ave, Pal...|    233333|
|    cob Brown|356 Taylor St, Cu...|   3422222|
|    aob Brown|156 Taylor St, Cu...|   1422222|
|    eob Brown|556 Taylor St, Cu...|   5422222|
+-------------+--------------------+----------+

In [25]:
onetable_to_another = '''
Insert into students table students_temp
'''

spark.sql(onetable_to_another)

DataFrame[]

In [32]:
insert_table_multirows = '''
INSERT INTO students_temp partition (student_id = 9999) VALUES
    ('aob Brown2', '156 Taylor St Cupertino');

'''

spark.sql(insert_table_multirows)

DataFrame[]

In [37]:
insert_table_multirows = '''
INSERT OVERWRITE students_temp VALUES
    ('aob Brown2', 'fff Taylor St Cupertino',233333);

'''

spark.sql(insert_table_multirows)

# overriding entier table

DataFrame[]

In [42]:
spark.sql(select_student_temp).show()

+----------+--------------------+----------+
|      name|             address|student_id|
+----------+--------------------+----------+
|aob Brown2|fff Taylor St Cup...|    233333|
+----------+--------------------+----------+