In [ ]:
! pip install pyspark

In [ ]:
import pandas as pd
car_dataframe = pd.read_csv(r'/content/car_prices.csv')

from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, StringType, IntegerType

spark = SparkSession.builder.appName("car_app").getOrCreate()

schema_car = StructType([StructField("year", StringType(), True)
 ,StructField("make", StringType(), True)
 ,StructField("model", StringType(), True)
 ,StructField("trim", StringType(), True)
 ,StructField("body", StringType(), True)
 ,StructField("transmission", StringType(), True)
 ,StructField("vin", StringType(), True)
 ,StructField("state", StringType(), True)
 ,StructField("condition", IntegerType(), True)
 ,StructField("odometer", IntegerType(), True)
 ,StructField("color", StringType(), True)
 ,StructField("interior", StringType(), True)
 ,StructField("seller", StringType(), True)
 ,StructField("mmr", IntegerType(), True)
 ,StructField("sellingprice", IntegerType(), True)
 ,StructField("saledate", StringType(), True)
])
spark_cardataframe = spark.read.option("header", True).csv(r'/content/car_prices.csv',schema=schema_car)
spark_cardataframe.createOrReplaceTempView('car_sales_test')

In [ ]:
spark_cardataframe.printSchema()

In [ ]:
def execsql(query):
  spark.sql(query).show(50)

In [ ]:
query_string = '''select vin
from car_sales_test
;
'''
execsql(query_string)

In [ ]:
query_string = '''select vin
from car_sales_test
where vin like '5%'
;
'''
execsql(query_string)

In [ ]:
query_string = '''select vin
from car_sales_test
where vin like '5_______________7'
;
'''
execsql(query_string)

In [ ]:
query_string = '''select vin
from car_sales_test
where vin not like '5_______________7'
;
'''
execsql(query_string)

In [ ]:
query_string = '''select count(vin)
from car_sales_test
where vin LIKE 'w%'
;
'''
execsql(query_string)

In [ ]:
query_string = '''select count(vin)
from car_sales_test
where vin RLIKE 'w+'
;
'''
execsql(query_string)

In [ ]:
query_string = '''select vin
from car_sales_test
where vin RLIKE 'w+'
except
select vin
from car_sales_test
where vin LIKE 'w%'
;
'''
execsql(query_string)

In [ ]:
query_string = '''select vin
from car_sales_test
where vin REGEXP 'w+'
except
select vin
from car_sales_test
where vin RLIKE 'w+'
;
'''
execsql(query_string)

In [ ]:
query_string = '''select vin
from car_sales_test
where vin like all ('%22%', '%07')
;
'''
execsql(query_string)

In [ ]:
query_string = '''select vin
from car_sales_test
where vin like any ('%22%', '%07')
;
'''
execsql(query_string)

In [ ]:
query_string = '''select count(vin)
from car_sales_test
where vin like some ('%22%', '%07')
;
'''
execsql(query_string)

query_string = '''select count(vin)
from car_sales_test
where vin like any ('%22%', '%07')
;
'''
execsql(query_string)

In [ ]:
query_string = '''select count(vin)
from car_sales_test
where vin like '%$_' escape '$'
;
'''
execsql(query_string)

In [ ]:
query_string = '''select count(vin)
from car_sales_test
where vin like '\_'
;
'''
execsql(query_string)

In [ ]:
query_string = '''select model,year,make,vin
from car_sales_test
order by model
limit length('model')
;
'''
execsql(query_string)

In [ ]:
query_string = '''select model,year,make,vin
from car_sales_test
order by model
limit all
;
'''
execsql(query_string)

In [ ]:
query_string = '''select model,year,make,vin
from car_sales_test
where model is not null
order by model
limit all
;
'''
execsql(query_string)

In [ ]:
query_string = '''select model,year,make,vin
from car_sales_test
where model is not null
limit 10
;
'''
execsql(query_string)

In [ ]:
query_string = '''select model,year,make,vin
from car_sales_test
where model is not null
limit 10 offset 2
;
'''
execsql(query_string)

In [ ]:
query_string = '''select model,year,make,vin
from car_sales_test
where model is not null
offset 2
;
'''
execsql(query_string)

In [ ]:
query_string = '''select model,year,make,vin
from car_sales_test
where model is not null
limit 10 offset length('sparklearning')

;
'''
execsql(query_string)

In [ ]:
query_string = '''select model,year,make,vin
from car_sales_test
order by model nulls last
;
'''
execsql(query_string)

In [ ]:
query_string = '''select model,year,make,vin
from car_sales_test
order by model nulls first
;
'''
execsql(query_string)

In [ ]:
query_string = '''select model,year,make,vin
from car_sales_test
order by model nulls first
;
'''
execsql(query_string)

In [ ]:
query_string = '''select vin
from car_sales_test
where vin RLIKE 'w+'
union
select vin
from car_sales_test
where vin LIKE '%r%'
;
'''
execsql(query_string)

In [ ]:
query_string = '''select vin
from car_sales_test
where vin RLIKE 'w+'
union all
select vin
from car_sales_test
where vin LIKE '%r%'
;
'''
execsql(query_string)

In [ ]:
query_string = '''select vin
from car_sales_test
where vin RLIKE 'w+'
minus
select vin
from car_sales_test
where vin LIKE '%r%'
;
'''
execsql(query_string)

In [ ]:
query_string = '''select vin
from car_sales_test
where vin RLIKE 'w+'
except
select vin
from car_sales_test
where vin LIKE '%r%'
;
'''
execsql(query_string)

In [ ]:
query_string = '''select vin
from car_sales_test
where vin RLIKE 'w+'
intersect
select vin
from car_sales_test
where vin LIKE '%r%'
;
'''
execsql(query_string)

In [ ]:
query_string = '''select vin
from car_sales_test
where vin RLIKE 'w+'
intersect all
select vin
from car_sales_test
where vin LIKE '%r%'
;
'''
execsql(query_string)

In [ ]:
query_string = '''select vin
from car_sales_test
where vin RLIKE 'w+'
intersect all
select vin
from car_sales_test
where vin LIKE '%r%'
;
'''
execsql(query_string)