In [1]:
! pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.10/dist-packages (3.5.0)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)

In [2]:
from pyspark.sql import SparkSession
spark = SparkSession \
    .builder \
    .appName("Python Spark SQL - Database") \
    .getOrCreate()

In [3]:
spark.sql("CREATE DATABASE IF NOT EXISTS customer_db")
spark.sql('CREATE DATABASE IF NOT EXISTS Housing_db COMMENT "This is housing database" LOCATION "New" WITH PROPERTIES (first_p = 1, second_p =2) ')
spark.sql('CREATE DATABASE IF NOT EXISTS Sample_db COMMENT "creating a sample database" LOCATION "location_sample" WITH DBPROPERTIES (first_Sp = "S1", second_Sp ="S2")')
# COMMENT , LOCATION , WITH PROPERTIES

DataFrame[]

In [4]:
customerdb_dataframe = spark.sql("DESCRIBE DATABASE customer_db")
housingdb_dataframe = spark.sql("DESCRIBE DATABASE EXTENDED Housing_db")
sampledb_dataframe = spark.sql("DESCRIBE DATABASE EXTENDED sample_db")

In [5]:
housingdb_dataframe.head(10)

[Row(info_name='Catalog Name', info_value='spark_catalog'),
 Row(info_name='Namespace Name', info_value='Housing_db'),
 Row(info_name='Comment', info_value='This is housing database'),
 Row(info_name='Location', info_value='file:/content/spark-warehouse/New'),
 Row(info_name='Owner', info_value='root'),
 Row(info_name='Properties', info_value='((first_p,1), (second_p,2))')]

In [6]:
customerdb_dataframe.head(10)

[Row(info_name='Catalog Name', info_value='spark_catalog'),
 Row(info_name='Namespace Name', info_value='customer_db'),
 Row(info_name='Comment', info_value=''),
 Row(info_name='Location', info_value='file:/content/spark-warehouse/customer_db.db'),
 Row(info_name='Owner', info_value='root')]

In [7]:
sampledb_dataframe.head(100)

[Row(info_name='Catalog Name', info_value='spark_catalog'),
 Row(info_name='Namespace Name', info_value='sample_db'),
 Row(info_name='Comment', info_value='creating a sample database'),
 Row(info_name='Location', info_value='file:/content/spark-warehouse/location_sample'),
 Row(info_name='Owner', info_value='root'),
 Row(info_name='Properties', info_value='((first_Sp,S1), (second_Sp,S2))')]

In [8]:
spark.sql('ALTER DATABASE sample_db SET LOCATION "NEWLOC" ')
spark.sql('ALTER DATABASE sample_db SET DBPROPERTIES (T1=1,T2=2)')
sampledb_dataframe = spark.sql("DESCRIBE DATABASE EXTENDED sample_db")
sampledb_dataframe.head(100)

[Row(info_name='Catalog Name', info_value='spark_catalog'),
 Row(info_name='Namespace Name', info_value='sample_db'),
 Row(info_name='Comment', info_value='creating a sample database'),
 Row(info_name='Location', info_value='file:/content/spark-warehouse/NEWLOC'),
 Row(info_name='Owner', info_value='root'),
 Row(info_name='Properties', info_value='((T1,1), (T2,2), (first_Sp,S1), (second_Sp,S2))')]

In [9]:
spark.sql('DROP DATABASE IF EXISTS sample_db CASCADE')

DataFrame[]

In [10]:
showdataframe = spark.sql('SHOW DATABASES')
showdataframe.head(10)

[Row(namespace='customer_db'),
 Row(namespace='default'),
 Row(namespace='housing_db')]

In [11]:
showdataframe = spark.sql("SHOW DATABASES LIKE 'c*'")
showdataframe.head(10)

[Row(namespace='customer_db')]