In [ ]:
! pip install pyspark

In [ ]:
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, StringType, IntegerType
spark = SparkSession.builder.appName("my_app").getOrCreate()
schema_car = StructType([StructField("year", StringType(), True)
 ,StructField("make", StringType(), True)
 ,StructField("model", StringType(), True)
 ,StructField("trim", StringType(), True)
 ,StructField("body", StringType(), True)
 ,StructField("transmission", StringType(), True)
 ,StructField("vin", StringType(), True)
 ,StructField("state", StringType(), True)
 ,StructField("condition", IntegerType(), True)
 ,StructField("odometer", IntegerType(), True)
 ,StructField("color", StringType(), True)
 ,StructField("interior", StringType(), True)
 ,StructField("seller", StringType(), True)
 ,StructField("mmr", IntegerType(), True)
 ,StructField("sellingprice", IntegerType(), True)
 ,StructField("saledate", StringType(), True)
])

In [ ]:
spark_cardataframe = spark.read.option("header", True).csv(r'/content/car_prices.csv',schema=schema_car)

In [ ]:
spark_cardataframe.printSchema()

In [ ]:
spark_cardataframe.show(n=2,vertical=True,truncate=150)

In [ ]:
spark_cardataframe.createOrReplaceTempView("car_sales_test")

In [ ]:
def execsql(query):
    return(spark.sql(query))

select_count = 'select count(*) from car_sales_test;'

In [ ]:
execsql(select_count).show()

In [ ]:
query = '''select first(year) , last(year) from (select distinct year
from car_sales_test
order by year)
'''

execsql(query).show(100)

In [ ]:
query = '''select first(year) , last(year)
from car_sales_test
'''

execsql(query).show(100)

In [ ]:
query = '''select make, count(*)
from car_sales_test
group by make
having make = 'Nissan'
'''

execsql(query).show(100)

In [ ]:
query = '''select make,count(*)
from car_sales_test
group by make
having make IS not NULL
'''

execsql(query).show(5)

In [ ]:
query = '''select make,count(*) as vechicle_count
from car_sales_test
group by make
having vechicle_count > 500
'''

execsql(query).show(10)

In [ ]:
query = '''
select state,sum(vechicle_count) as sum from
(select state,make,count(*) as vechicle_count
from car_sales_test
group by state,make
having vechicle_count > 1)
group by state
order by sum(vechicle_count) desc
'''

execsql(query).show(100)

In [ ]:
query = '''
select state,sum(vechicle_count) as sum_vechicle ,max(vechicle_count) as max_vechicle , min(vechicle_count) as min_vechicle from
(select state,make,count(*) as vechicle_count
from car_sales_test
group by state,make
having vechicle_count > 1)
group by state
having max(vechicle_count) > 10
order by sum_vechicle desc
'''

execsql(query).show(100)

In [ ]:
query = '''
select sum(vechicle_count) as sum_vechicle from
(select state,make,count(*) as vechicle_count
from car_sales_test
group by state,make
having vechicle_count > 1)
having sum(vechicle_count) > 100
order by sum_vechicle desc
'''

execsql(query).show(100)

In [ ]:
query = '''
select state,sum(vechicle_count) as sum_vechicle ,max(vechicle_count) as max_vechicle , min(vechicle_count) as min_vechicle from
(select state,make,count(*) as vechicle_count
from car_sales_test
group by state,make
having vechicle_count > 1)
group by state
having 1 > 0
order by sum_vechicle desc
'''

execsql(query).show(100)

In [ ]:
query = '''
select distinct make from car_sales_test
'''

execsql(query).show(100)

In [ ]:
query = '''
select LAST(make IGNORE NULLS) from car_sales_test
'''

execsql(query).show(100)