In [ ]:
import random
import sys
import pandas as pd

word_list = [ 'Cabo Verde','Cambodia','Cameroon','Canada','Cayman Islands','Central African Republic'
,'Central American Federation','Chad','Chile','China','Colombia','Comoros','Congo Free State','Costa Rica'
,'Cote dIvoire Ivory Coast','Croatia','Cuba','Cyprus','Czechia' 'Czechoslovakia']
arraylist=[]
final_wordlist = []

for i in range(1,1000000):
    arraylist.append(i)
    final_wordlist.append(random.choice(word_list))

sizeofnumbers = round((sys.getsizeof(arraylist)/(1024*1024)))
sizeofword = round((sys.getsizeof(final_wordlist)/(1024*1024)))

output_data = pd.DataFrame({'Number':arraylist,'Country':final_wordlist})

print(sizeofnumbers,sizeofword)

In [ ]:
! pip install pyspark

In [ ]:
output_data.to_csv('test.csv',index=False)

In [ ]:
from pyspark.sql import SparkSession

spark = SparkSession \
        .builder \
        .appName('TestAppp') \
        .getOrCreate()

In [ ]:
spark_dataframe = spark.read.csv(r'/content/test.csv',header=True)

In [ ]:
spark_dataframe.show()

In [ ]:
spark_dataframe.printSchema()

In [ ]:
spark_dataframe.select("Number").show()

In [ ]:
spark_dataframe.select(spark_dataframe['Number']+1).show()

In [ ]:
spark_dataframe.filter(spark_dataframe['Number']==1).show()

In [ ]:
spark_dataframe.groupby('Country').count().show()

In [ ]:
spark_dataframe.createOrReplaceTempView('TestTable')

In [ ]:
sql_result = spark.sql("Select * from TestTable")

In [ ]:
sql_result.show()

In [ ]:
spark_dataframe.select(spark_dataframe.Number).orderBy(spark_dataframe.Number.asc()).collect()